<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99330700041-lbhc8k5fauacrskecfuqqbohjbmfpa6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99330700041-lbhc8k5fauacrskecfuqqbohjbmfpa6v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0Wdaj5LtOki02JLEcNRkd8FKs-0ctLcU</string>
	<key>GCM_SENDER_ID</key>
	<string>99330700041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roypark.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-713f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-713f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99330700041:ios:648dc09e0d10e3dc1599d8</string>
</dict>
</plist>